
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
 
}
.container{

  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 10px;
  width: 300px;
  height: 300px;
}
.box{
  background-color: blue;
 border: 5px solid black;
 
}
